/* Загальні стилі */
:root {
    --green: #4dc274;
    --green-accent: #bee8cc;
    --white: #fff;
    --black: #121417;
}

body {
    color: var(--black);
    font-family: 'Manrope', sans-serif;
    background-color: var(--white);
}

h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.053;
}

@media (min-width: 768px) {
    h1 {
        font-size: 60px;
        line-height: 1.167;
    }
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: -0.64px;
}

@media (min-width: 768px) {
    h2 {
        font-size: 40px;
        line-height: 1.2;
    }
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.4px;
}

/* Секція відгуків */
.testimonial-section {
    text-align: center;

}

.testimonial-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125;
    font-family: Manrope;
    letter-spacing: -0.02em;
    position: relative;
    text-align: center;
    margin-bottom: 16px;
}

.highlight {
    position: relative;
    display: inline-block;
}

.highlight::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 12px;
    background-color: var(--green-accent);
    border-radius: 8px;
    z-index: -1;
}



.testimonial-description {
    text-align: center;
    font-size: 14px;
    line-height: 1.125;
    font-family: Manrope;
    letter-spacing: -0.02em;
    margin-top: 16px;
    max-width: 600px;
    color: #12141780;
    margin: 0 auto 40px;

}

.testimonial-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.testimonial-card {
    width: 100%;
    max-width: 335px;
    background-color: #f3f5f6;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Заголовок картки */
.testimonial-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--green);
    border-radius: 8px;
    padding: 16px;
    width: calc(100% - 32px);
    max-width: 295px;
    height: 78px;
    margin: 32px auto 16px;
    /* Центрує та додає відступ зверху та знизу */
}

.testimonial-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 14px;
    object-fit: cover;
}

.testimonial-header .student-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.student-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.125;
    font-family: Manrope;
    letter-spacing: -0.02em;
    color: var(--white);
    margin: 0;
}

.student-role {
    font-family: Manrope;
    text-align: left;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

/* Текст відгуку */
.testimonial-text {
    font-family: Manrope;
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    color: var(--black);
}

.anna-card {
    display: block;
}

.mykhailo-card,
.victoria-card {
    display: none;
}


/* Стилі для планшетів */
@media (min-width: 768px) {

    .testimonial-title {
        font-size: 40px;
        margin-bottom: 16px;
    }


    .testimonial-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    .anna-card,
    .mykhailo-card {
        display: block;
    }

    .victoria-card {
        display: none;
    }

    .testimonial-card {
        width: 100%;
        max-width: 336px;
        height: 326px;
    }

    .testimonial-description {
        font-size: 18px;
        margin-bottom: 64px;
        margin: 0 auto 64px;

    }

    .testimonial-header {

        margin-bottom: 32px;
    }
}



/* Стилі для десктопів */
@media only screen and (min-width: 1280px) {

    .testimonial-title {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .testimonial-section {
        padding: 80px 0;
    }

    .testimonial-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

    .anna-card,
    .mykhailo-card,
    .victoria-card {
        display: block;

        max-width: 336px;
        height: 326px;
    }

    .testimonial-description {
        font-size: 18px;
        margin-bottom: 64px;
        margin: 0 auto 64px;

    }

    .testimonial-card {
        display: block;
    }

    .testimonial-header {

        margin-bottom: 32px;
    }
}